<div class="container">

  <h1>Eat-Da-Burger!: The Burger Diary</h1>

  <h2>A burger a day keeps the doctor away!</h2>

  <br>

  <img src="/assets/img/burger.jpg">

  <br><br>

  <div class="row" id="title">
    <div class="col-6" id="toEat">
      <h3>Burger Bucket List</h3>
    </div>
    <div class="col-6" id="eaten">
      <h3>BurgAccomplishments</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-6" id="toEatList">
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
          <li>
            <p>{{burger_name}}
              <form action="/update/{{id}}" method="POST">
                <button type="submit" class="button" data-id="{{id}}" class="devourBurger">It's burger o'clock!</button>
              </form>
            </p>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6" id="eatenList">
      <ul>
        {{#each burgers}}
          {{#if devoured}}
          <li>
            <p>{{{burger_name}}}</p>
            <form action="/delete/{{id}}" method="POST">
              <button type="submit" class="button" data-id="{{id}}" class="devourBurger">Yummm!</button>
            </form>
          </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
      <h3>Another Burger?</h3>
      <form id="addBurger" class="create-update-form" action="/insert" method="POST">
        <div class="form-group">
          <input id="newBurger" type="text" name="burger_name" placeholder="Enter Name of Burger">
          <button type="submit">Gimme Gimme Gimme</button>
        </div>
      </form>
    </div>
  </div>

</div>